<html>
    <head>
        <title>Cuisine</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>{{ cuisine.getName}}</h1>
            <p>This cuisine is {{ cuisine.getPrice }} price units on the 1-5 standard scale of prices.</p>

            {% if cuisine.getSpicy %}
                <p>This cuisine is spicy. Watch out! Make sure to stay hydrated!</p>
            {% else %}
                <p>This cuisine is no picante. No problemo!</p>
            {% endif %}

            {% if restaurants is not empty %}
                <p>Here are the restaurants:</p>
                <ul>
                    {% for restaurant in restaurants %}
                        <li><h4>{{ restaurant.getName}}</h4>
                            <ul>

                                <li>Seats: {{ restaurant.getSeats }}</li>
                                <li>Location: {{ restaurant.getLocation }}</li>

                                {% if restaurant.getEvenings == false %}
                                    <li>Don't bother dining here at night</li>
                                {% else %}
                                    <li>You're welcome to eat here after 5</li>
                                {% endif %}
                                <li><!-- button to edit restaurant here -->
                                    <a href="/restaurants/{{ restaurant.getId }}">Edit resto</a>
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <p><a href="/cuisines/{{ cuisine.getId }}/edit">Edit this cuisine</a></p>

            <p><a href="/">Home</a></p>

            <h4>Add a restaurant</h4>

            <form action='/restaurants' method='post'>
                <div class="form-group">
                    <input id='cuisine_id' name='cuisine_id' type='hidden' value='{{ cuisine.getId }}'>
                    <label for='name'>Restaurant Name</label>
                    <input id='name' name='name' type='text'>
                </div>

                <div class="form-group">
                    <label for='seats'>Seats:</label>
                    <input id='seats' name='seats' type='number'>
                </div>

                <div class="form-group">
                    <label for='location'>Location:</label>
                    <input id='location' name='location' type='text'>
                </div>

                <div class="form-group">
                    <label for='evenings'>Evenings:</label>
                    <input id='evenings' name='evenings' type='text'>
                </div>

                <button type='submit' class="btn btn-success">Add restaurant</button>
            </form>


            <!-- <form action='/delete_tasks' method='post'>
                <div class="form-group">
                    <button type='submit' class='btn btn-danger'>Delete Tasks</button>
                </div>
            </form> -->

            <p><a href='/'>Home</a></p>
        </div>
    </body>
</html>
